<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<title>Insert title here</title>
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
<link href="../static/css/materialize.min.css"
	th:href="@{/css/materialize.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
</head>
<body>
	<div th:switch="${users}">
		<div th:case="*">
			<h2>Users</h2>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
						<td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
						<td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/singup">Add a new user</a>
		</p>
	</div>
</body>
</html>